body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.flex {
    flex: 1 1 auto;
}

.flex-box {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-centered {
    display: flex;
    justify-content: center;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.drag-handle {
    position: absolute;
    top: 0px;
    right: -3px;
    transition: opacity 0.2s ease;
    cursor: move;
    z-index: 10;
    opacity: 0;
}

.edit-button {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity 0.2s ease;
    z-index: 10;
    opacity: 0;
}

.resize-handle {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 8px;
    cursor: se-resize;
    z-index: 10;
    transition: opacity 0.2s ease;
    background-color: #f0f0f0;
    height: 16px;
    width: 16px;
    opacity: 0;
}

.content-wrapper:hover .drag-handle {
    opacity: 1;
}

.content-wrapper:hover .resize-handle {
    opacity: 1;
}

.content-wrapper:hover .edit-button {
    opacity: 1;
    cursor: pointer;
}

.content-container {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.date-time-display {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
}
